In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "heroesofpymoli.csv"

# Read Purchasing File and store into Pandas data frame
hero_df = pd.read_csv(file_to_load)

In [2]:
#PLAYER COUNT
#Get unique players
uni_player = hero_df["SN"].nunique()
uni_player_df = pd.DataFrame([uni_player], columns= ["Total Players"])
uni_player_df

   Total Players
0            576

In [3]:
#Purchasing Analysis (Total)

  #Run basic calculations to obtain number of unique items, average price, # of Purchases, Total Revenue

uni_items = hero_df["Item ID"].nunique()
  #uni_items
ave_price = hero_df["Price"].mean()
  #ave_price
num_pur = len(hero_df)
  #num_pur
tot_rev = hero_df["Price"].sum()
  #tot_rev

  #Create a summary data frame to hold the results
PA_df = pd.DataFrame([[uni_items, ave_price, num_pur, tot_rev]], columns=["Unique Items", "Average Item Price", "Number of Purchases", "Total Revenue"])


  #Optional: give the displayed data cleaner formatting
  #Display the summary data frame
PA_df

   Unique Items  Average Item Price  Number of Purchases  Total Revenue
0           183            3.050987                  780        2379.77

In [4]:
#Gender Demographics
len_gender = len(hero_df)
  
    #Percentage and Count of Male Players
m_count = (hero_df["Gender"] == "Male").sum()
m_per = m_count/len_gender * 100
#m_count
#m_per
  
    #Percentage and Count of Female Players
f_count = (hero_df["Gender"] == "Female").sum()
f_per = f_count/len_gender * 100
#f_count
#f_per  
    #Percentage and Count of Other / Non-Disclosed
o_count = (hero_df["Gender"] == "Other / Non-Disclosed").sum()
o_per = o_count/len_gender * 100
#o_count

    #Display table
gdem_df = pd.DataFrame({"Total Count": [m_count, f_count, o_count], "Total Percentage": [m_per, f_per, o_per]})
gdem_df

   Total Count  Total Percentage
0          652         83.589744
1          113         14.487179
2           15          1.923077

In [5]:
#Purchasing Analysis (Gender)
    #Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
    
    #perchase count is m_count, f_count, o_count
    
    #avg purchase price by gender
        #Male
df_m = hero_df[hero_df["Gender"] == "Male"]
m_pp = df_m["Price"].mean()
        
        #Female
df_f = hero_df[hero_df["Gender"] == "Female"]
f_pp = df_f["Price"].mean()
        
        #Other
df_o = hero_df[hero_df["Gender"] == "Other / Non-Disclosed"]
o_pp = df_o["Price"].mean()
    
    #Average Purchase total by gender
        #male
m_ptot = df_m["Price"].sum()
        
        #female
f_ptot = df_f["Price"].sum()

        #other
o_ptot = df_o["Price"].sum()

    #average purchase total per person by gender
        #unique player dataframe for each gender
m_uniplyrs = df_m.groupby("SN")
f_uniplyrs = df_f.groupby("SN")
o_uniplyrs = df_o.groupby("SN")
        #male
m_unimean = m_uniplyrs["Price"].mean()

        #female
f_unimean = f_uniplyrs["Price"].mean()

        #other
o_unimean = o_uniplyrs["Price"].mean()
    #Create a summary data frame to hold the results
    
df_PAg = pd.DataFrame({"Purchase Count": [m_count, f_count, o_count], "Average Purchase Price": [m_pp, f_pp, o_pp], "Total Purchase Value": [m_ptot, f_ptot, o_ptot], "Average Total Purchase per Person": [m_unimean.mean(), f_unimean.mean(), o_unimean.mean()]})

    #Optional: give the displayed data cleaner formatting
    #Display the summary data frame
df_PAg

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
0,652,3.017853,1967.64,3.014269
1,113,3.203009,361.94,3.194835
2,15,3.346000,50.19,3.348636

In [26]:
#Age Demographics
    #Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]

    #Categorize the existing players using the age bins. Hint: use pd.cut()
age = pd.cut(hero_df["Age"], bins=bins, labels= ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"])
#age
    #Calculate the numbers and percentages by age group
age_grpdf = hero_df.groupby(age)
age_count = age_grpdf["Age"].count()
    #Create a summary data frame to hold the results
age_df = pd.DataFrame({"Total Count": age_count, "Percent of Total": age_count/(len(hero_df)) *100})
    #Optional: round the percentage column to two decimal points
    #Display Age Demographics Table
age_df

       Total Count  Percent of Total
Age
<10             23          2.948718
10-14           28          3.589744
15-19          136         17.435897
20-24          365         46.794872
25-29          101         12.948718
30-34           73          9.358974
35-39           41          5.256410
>40             13          1.666667

In [36]:
#Purchasing Analysis (Age)
    #Bin the purchase_data data frame by age
#age_grpdf
    #Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
        #purchase count
#age_count

        #avg purchase price
age_avgpp = age_grpdf["Price"].mean()
        #avg purchase total per person
age_avgptp = age_avgpp.mean()
    
    #Create a summary data frame to hold the results
age_purdf = pd.DataFrame({"Purchase Count": age_count, "Average Purchase Price": age_avgpp, "Average Total Purchase Per Person": age_avgptp})
    
    #Optional: give the displayed data cleaner formatting
    #Display the summary data frame
age_purdf

,Purchase Count,Average Purchase Price,Average Total Purchase Per Person
Age,,,
<10,23,3.353478,3.096728
10-14,28,2.956429,3.096728
15-19,136,3.035956,3.096728
20-24,365,3.052219,3.096728
25-29,101,2.900990,3.096728
30-34,73,2.931507,3.096728
35-39,41,3.601707,3.096728
>40,13,2.941538,3.096728

In [48]:
#Top Spenders
    #Run basic calculations to obtain the results in the table below
        #groupby to get Max purchase count
sn_group = hero_df.groupby("SN")
sn_group["SN"].max()
#sn_group_count = sn_group["SN"].count()
#sn_group_count.max()
        
    #Create a summary data frame to hold the results
    #Sort the total purchase value column in descending order
    #Optional: give the displayed data cleaner formatting
    #Display a preview of the summary data frame

SN
Adairialis76          Adairialis76
Adastirin33            Adastirin33
Aeda94                      Aeda94
Aela59                      Aela59
Aelaria33                Aelaria33
Aelastirin39          Aelastirin39
Aelidru27                Aelidru27
Aelin32                    Aelin32
Aelly27                    Aelly27
Aellynun67              Aellynun67
Aellyria80              Aellyria80
Aelollo59                Aelollo59
Aenarap34                Aenarap34
Aeral43                    Aeral43
Aeral68                    Aeral68
Aeral97                    Aeral97
Aeralria27              Aeralria27
Aeralstical35        Aeralstical35
Aeri84                      Aeri84
Aerillorin70          Aerillorin70
Aerithllora36        Aerithllora36
Aerithnucal56        Aerithnucal56
Aerithnuphos61      Aerithnuphos61
Aerithriaphos45    Aerithriaphos45
Aerithriaphos46    Aerithriaphos46
Aesri53                    Aesri53
Aesty53                    Aesty53
Aestysu37                Aestysu37
Aesur96                    Aesur96
Aesurstilis64        Aesurstilis64
                        ...
Undosia27                Undosia27
Undosian34              Undosian34
Undotesta33            Undotesta33
Wailin72                  Wailin72
Yadacal26                Yadacal26
Yadaisuir65            Yadaisuir65
Yadam35                    Yadam35
Yadanu52                  Yadanu52
Yadaphos40              Yadaphos40
Yalae81                    Yalae81
Yalaeria91              Yalaeria91
Yaliru88                  Yaliru88
Yalo85                      Yalo85
Yalostiphos68        Yalostiphos68
Yana46                      Yana46
Yarithllodeu72      Yarithllodeu72
Yarithrgue83          Yarithrgue83
Yarithrin84            Yarithrin84
Yarithsurgue62      Yarithsurgue62
Yarolwen77              Yarolwen77
Yasrisu92                Yasrisu92
Yastyriaphos75      Yastyriaphos75
Yasur35                    Yasur35
Yasur85                    Yasur85
Yathecal72              Yathecal72
Yathecal82              Yathecal82
Yathedeu43              Yathedeu43
Yoishirrala98        Yoishirrala98
Zhisrisu83              Zhisrisu83
Zontibe81                Zontibe81
Name: SN, Length: 576, dtype: object

In [9]:
#Most Popular Items
    #Retrieve the Item ID, Item Name, and Item Price columns
    #Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
    #Create a summary data frame to hold the results
    #Sort the purchase count column in descending order
    #Optional: give the displayed data cleaner formatting
    #Display a preview of the summary data frame

In [10]:
#Most Profitable Items
    #Sort the above table by total purchase value in descending order
    #Optional: give the displayed data cleaner formatting
    #Display a preview of the data frame

In [11]:
hero_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60